.git
.github
.vscode
node_modules
vendor
.env
.env.backup
.env.production
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
tests
.editorconfig
.gitattributes
.prettierrc
.prettierignore
phpunit.xml
pint.json
*.md
!README.md
Alfamart_API.postman_collection.json
